* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: black;
    width: 100%;
    color: white;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
}

.container {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.header_container {
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.header_img > img {
    height: 50px;
}

nav {

}

nav > a {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 15px;
    transition: .5s;
}

nav > a:nth-child(1) {
    margin-left: 0px;
}

nav > a:hover {
    color: rgb(0, 142, 198);
    transition: .5s;
}

#banner {
    width: 100vw;
    height: 100vh;
    background-color: red;
    padding: 90px 20px 20px 20px;
    background-image: url(./assets/img/bg.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner_container {
    max-width: 1280px;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}

.banner_img {
    height: 300px;
}

.banner_title {
    width: 400px;
    color: white;
    font-weight: 500;
    line-height: 2em;
    font-size: 16px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px   40px;
}

.footer_about {
    color: white;
    font-weight: bold;
}



#about {
    height: 100vh;
    width: 100vw;
    background-color: red;
}










@media(max-width: 800px) {
    .banner_img {
        height: 100px;
    }

    .banner_container {
        flex-direction: column;
    }
}